/* temporary colors */
:root {
    --main-bg-color: rgb(28, 22, 39);
    --second-bg-color: rgb(45, 44, 88);
    --squares: rgb(51, 191, 204);
    --item: rgb(95, 113, 141); 
}
body {
    background-color: var(--main-bg-color);
}
#main {
    background-color: var(--second-bg-color);
}
#one, #two, #three, #four {
    width: 100%;
    height: 300px;
    background-color: var(--squares);
}
button {
    width: 90px;
}
.item {
    background-color: var(--item);
    width: 2%;
}