/* temporary colors */
:root {
    --squares: #0DCAF0;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.col-md-6 {
    height: 50vh;
    min-height: 350px;
}
.display {
    background-color: red;
    height: 250px;
    width: 360px;
}
.block {
    width: 12px; /* might need to adjust since i changed display width*/
    margin: 0 3px;
    background-color: #6b5b95;
    position: relative;
    bottom: 0px;
    transition: 0.2s all ease;
}
