/* temporary colors */
:root {
    --squares: #e2eff5;
    --bars: #6b5b95; 
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.display {
    background-color: var(--squares);
    height: 250px;
    width: 360px;
}
.block {
    width: 12px; /* might need to adjust since i changed display width*/
    margin: 0 3px;
    background-color: var(--bars);
    position: relative;
    bottom: 0px;
}
.leftSwap {
    transition: all 0.2s ease;
    transform: translate(18px);
}
.rightSwap {
    transition: all 0.2s ease;
    transform: translate(-18px);
}
.transition {
    /* set to 0.2s */
    transition: all 0.2s ease;
}
